body{
    background-color: aqua;
}
ul{
    list-style-type: square;
    list-style: none;
    list-style-position: inside;
    list-style-position: outside;
}
.my div{
    border: 5px outside red;
    background-color: #88aaaa;
    text-align: center;
}

